@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Arvo&family=Nunito&family=Padauk&family=Rubik:ital,wght@0,400;1,300&family=Source+Sans+Pro:wght@300&family=Zilla+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Arvo&family=Nunito&family=Padauk&family=Rubik:ital,wght@0,400;1,300&family=Source+Sans+Pro:wght@300&family=Zilla+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Arvo&family=Nunito&family=Padauk&family=Rubik:ital,wght@0,400;1,300&family=Source+Sans+Pro:wght@300&family=Zilla+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Arvo&family=Bree+Serif&family=Nunito&family=Padauk&family=Rubik:ital,wght@0,400;1,300&family=Source+Sans+Pro:wght@300&family=Zilla+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Arvo&family=Bree+Serif&family=Francois+One&family=Nunito&family=Padauk&family=Rubik:ital,wght@0,400;1,300&family=Source+Sans+Pro:wght@300&family=Zilla+Slab:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url("./sarStat.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 95vh;
}

.navBar {
  height: 25px;
  background-color: #01718a;
}
ul {
  list-style-type: none;
}
.nav1List {
  margin-right: 5%;
  position: sticky;
}
.nav1 {
  display: inline-flex;
  float: right;
}
.nav1 a {
  float: left;
  display: inline-block;
  color: #94bcc7;
  padding: 5px 10px;
  margin-right: 20px;
  text-decoration: none;
}

.nav1 a:hover {
  color: white;
}

/* Nav Bar2 styling : */
.navBar2 {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  position: fixed;
  overflow: hidden;
}

#SAR_logo .home {
  margin-top: 0;
  height: 13ch;
  width: 50ch;
  padding: 25px;
}

.nav2List {
  margin-top: 40px;
  margin-left: 100px;
}

.nav2 {
  padding-left: 170px;
  display: flex;
  justify-content: space-around;
  color: black;
}

.nav2 a {
  padding-right: 30px;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  text-align: left;
}

li.about,
li.help,
li.media,
li.travel {
  display: flex;
  flex-direction: column;
}

.about-content,
.travel-content,
.media-content,
.help-content {
  display: none;
  flex-direction: column;
  background-color: #01718a;
  min-width: 160px;
  position: fixed;
  top: 5.5rem;
}

.about:hover .about-content,
.travel:hover .travel-content,
.media:hover .media-content,
.help:hover .help-content {
  display: flex;
}

.about-content a,
.travel-content a,
.media-content a,
.help-content a {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}

/* Search Bar Styling  */
.searchBar {
  width: 80vh;
  height: 8ch;
  margin: 150px 450px 0 400px;
  background-color: white;
  border: none;
  display: inline-block;
}

#searchBar {
  margin: 7px 0 15px 10px;
  padding-left: 40px;
  width: 65vh;
  height: 6ch;
  border: none;
  background-color: #e5e4e3;
  text-align: left;
  font-size: 15px;
}
#searchBtn {
  width: 12vh;
  height: 6ch;
  font-size: 15px;
  color: black;
  background-color: #e5e4e3;
  border: none;
}
#searchBtn:active {
  background-color: #01718a;
  color: white;
}

/* Cards styling */

.cards {
  width: 100%;
  /* height: 115vh; */
  display: flex;
  margin: 0;
  flex-direction: column;
  background-color: #f2f2f2;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.05)
  );
  padding-top: 13vh;
}
.Trips {
  width: 80%;
  margin: 0 30vh;
}

.Trips div {
  display: inline-block;
  width: 250px;
  height: 350px;
  margin-right: 13vh;
  margin-bottom: 40px;
  border: none;
  font-weight: bold;
  background-color: white;
  box-shadow: 39px 20px 196px -66px rgba(0, 0, 0, 0.14);
}

/* .Trips div:hover{ 
  animation: pulse 1s infinite;
  animation-timing-function: linear;   
} */

/* @keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1)}
  100% { transform: scale(1); }
  } */

/* .Trips div:hover{
  
} */
.Trips img {
  margin-left: 20px;
  margin-top: 7px;
  width: 200px;
  height: 200px;
}
.Trips h1 {
  font-family: "Arvo", serif;
  font-weight: bolder;
  margin-bottom: 10px;
  margin-left: 25px;
  font-size: 20px;
}
.Trips button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 13px;
  margin-left: 20px;
  margin-top: 30px;
  border: none;
}
.Trips .buy:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.Trips .buy:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.Trips .buy {
  background-color: #c7b743;
}
.Trips .fav {
  font-size: 30px;
  color: #ea6b6a;
  background-color: white;
}

.buy {
  width: 90px;
  height: 40px;
  text-align: center;
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: lighter;
  color: white;
  border-radius: 2px;
}
.fav {
  width: 90px;
  height: 40px;
  border: none;
}
/* Last part styling */

.lastPart {
  width: 100%;
  /* height: 80vh; */
  padding-left: 20vh;
  background-color: #948c53;
}

.lastPart h1 {
  font-family: "Arvo", serif;
  color: #081d21;
  font-size: 50px;
  font-weight: bold;
  padding-top: 7vh;
}

.lastPart p {
  margin-top: 40px;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 25px;
  font-weight: bolder;
  padding-right: 45vh;
  padding-bottom: 200px;
}

/* desc page */
/* .Item-des {
  margin-top: 145px;
  min-height: 75vh;
}
.Item-des{
margin: 15% 20% 5% 20%;
font-family: 'Source Sans Pro', sans-serif; */

/* .tripDes{
  border: 1px solid black;
  background-color: #E5E4E3 ;
}
.tripDes h1{
  text-align: center;
  font-size: 25pxx;
  font-weight: lighter;
}
.tripDes h2{
  font-size: 17px;
  color: #01718a;
  margin-left: 50px;
}

.tripDes p{
  margin-left: 100px;
  color: black;
}
 .btns{
margin-left: 500px;
} */

/*  desc page styling */
.Item-des {
  width: 100%;
  display: flex;
  margin: 0;
  flex-direction: row;
  background-color: #f2f2f2;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.05)
  );
  padding-top: 13vh;
}
.cont {
  /* padding: 3% 20% 5% 20%; */
  width: 80%;
  margin: 20px 43vh;
}
.cont div {
  padding-left: 50px;
}
.tripDes {
  /* margin-top: 7%; */
  border-left: 4px solid #c7b743;
  border-right: 4px solid #c7b743;
}
#tripName {
  text-align: center;
  font-family: "ABeeZee", sans-serif;
  font-size: 50px;
  font-weight: bolder;
  padding-bottom: 30px;
}
.tripDes h1 {
  text-align: center;
  color: black;
  font-family: "ABeeZee", sans-serif;
  font-weight: lighter;
}
.tripDes h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: #043f4e;
  font-weight: bolder;
  padding-bottom: 10px;
}

.tripDes p {
  font-weight: bolder;
  font-size: 17px;
  color: #7d7426;
  font-family: "ABeeZee", sans-serif;
}
.tripDes span {
  color: #525f66;
}
.tripDes img {
  width: 300px;
  height: 200px;
  border-radius: 180px;
}

.tripDes button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 13px;
  margin-left: 20px;
  margin-top: 30px;
  border: none;
}

.tripDes .buy {
  background-color: #c7b743;
}
.tripDes .buy:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.tripDes .buy:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tripDes .fav {
  font-size: 30px;
  background-color: #f2f2f2;
  color: #ea6b6a;
}

/* fav styling */

.favPage {
  width: 100%;
  /* height: 95vh; */
  display: flex;
  margin: 0;
  flex-direction: row;
  /* background-color: #f2f2f2; */
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.05)
  );
  padding-top: 13vh;
}
.container {
  width: 80%;
  margin: 0 30vh;
  margin: 0 30vh;

  /* margin: 50px; */
}
.container div {
  display: inline-block;
  width: 250px;
  height: 350px;
  margin-right: 13vh;
  margin-bottom: 40px;
  border: none;
  font-weight: bold;
  background-color: white;
  box-shadow: 39px 20px 196px -66px rgba(0, 0, 0, 0.14);
}

.favPage img {
  margin-left: 20px;
  margin-top: 7px;
  width: 200px;
  height: 200px;
}

.favPage h1 {
  font-family: "Arvo", serif;
  font-weight: bolder;
  margin-bottom: 10px;
  margin-left: 25px;
  font-size: 20px;
}
.favPage button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 13px;
  margin-left: 20px;
  margin-top: 30px;
  border: none;
}

.favPage .buy {
  background-color: #c7b743;
}
.favPage .buy:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.favPage .buy:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.favPage .fav {
  font-size: 30px;
  color: #ea6b6a;
  background-color: white;
}

/* basket styling */

.basket {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.05)
  );
  padding-top: 13vh;
}

.container {
  width: 80%;
  margin: 0 50px;
}

.container div {
  /* display: inline-block;
  width: 250px;
  height: 300px;
  margin-right: 11vh;
  margin-bottom: 40px;
  border: none;
  border-radius: 12px;
  font-weight: bold;
background-color: white; */
  display: inline-block;
  width: 250px;
  height: 350px;
  margin-right: 13vh;
  margin-bottom: 40px;
  border: none;
  font-weight: bold;
  background-color: white;
  box-shadow: 39px 20px 196px -66px rgba(0, 0, 0, 0.14);
}

.basket img {
  margin-left: 20px;
  margin-top: 7px;
  width: 200px;
  height: 200px;
}

.basket h1 {
  font-family: "Arvo", serif;
  font-weight: bolder;
  margin-bottom: 10px;
  margin-left: 25px;
  font-size: 20px;
}

.basket button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 13px;
  margin-left: 20px;
  margin-top: 30px;
  border: none;
}

.basket .buy {
  background-color: #c7b743;
}
.basket .buy:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.basket .buy:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.basket .fav {
  font-size: 30px;
  color: #ea6b6a;
  background-color: white;
}

/* footer styling */

footer {
  height: 7vh;
  background-color: #081d21;
  /* #111820; */
  color: #a4a2a1;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: lighter;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

/*  media Query */
